# version: '3.8'

#####################################
# Prepare:
# sudo mkdir /docker
# sudo chmod 777 /docker
#####################################

services:

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    volumes:
      # data:
      - /docker/postgres:/var/lib/postgresql
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456hui


  mysqldb:
    image: mysql:8.0.31
    command:
      # 将mysql8.0默认密码策略 修改为 原先 策略 (mysql8.0对其默认策略做了更改 会导致密码无法匹配)
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --lower_case_table_names=1
      --max-connections=1000
      --wait_timeout=600
    container_name: mysqldb
    restart: always
    volumes:
      - ./config/mysql/conf.d:/etc/mysql/conf.d
      - /docker/mysqldb:/var/lib/mysql
    ports:
      - 3309:3306
    environment:
      - MYSQL_ROOT_PASSWORD=123456hui

  # https://www.jianshu.com/p/094078ef4347
  # https://www.php1.cn/detail/ZuiXiangXiDe_doc_26f5dcb1.html
  redis:
    image: redis:8
    container_name: redis
    restart: always
    ports:
      - 6379:6379
    environment:
      TZ: Asia/Shanghai
    volumes:
      # configure file
      #- ./config/redis/conf:/usr/local/etc/redis
      - ./config/redis/conf:/redis/config
      # data file
      - /docker/redis/data:/data
      # log file
      # - /docker/redis/logs:/logs
    command: "redis-server /redis/config/redis.conf"
    privileged: true


  phpmyadmin:
    image: phpmyadmin:5
    container_name: phpmyadmin
    restart: always
      # depends_on:
      # - db
    volumes: 
      # - /docker/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
      - ./config/phpmyadmin/config.user.inc.php:/etc/phpmyadmin/config.user.inc.php
    environment:
      - PMA_ARBITRARY=1
    ports:
      - 8002:80


        #  redisinsight:
        #    image: redislabs/redisinsight
        #    container_name: redisinsight
        #    ports:
        #      - 8003:8001

